/* COLORS */
$red: #f72143;
$intense-blue: #1f33f6;
$light-green: #c6ecc7;
$dark-blue: #101b5f;
$light-orange: #f0a56b;
$orange: #f85f28;
$green: #1e8059;
$pink: #e57a9b;
$white: #ffffff;
/* FONT FAMILY */
$font: "Roboto";
/* FONT WEIGHTS */
$light: 300;
$medium: 500;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

.frame {
  height: 15%;
  width: 15%;
  margin: 3vw 38vw;
  margin-top: 5%;
}

.survey-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.survey-title h1 {
  display: flex;
  justify-content: center;
  font-size: 4vw;
  margin: 1rem 0 2rem 0;
}


@media screen and (min-width: 415px) and (max-width: 768px) {
  .survey-title h1 {
    font-size: 2rem;
    margin: 0 0;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .survey-title h1 {
    font-size: 1.8rem;
    margin: 0 0;
  }
}

.survey-p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2vw;
  color: $light-orange;
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .survey-p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .survey-p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .survey-p {
    font-size: 1rem;
  }
}

.survey-contact {
  color: $light-orange;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.survey-name {
  display: flex;
  justify-content: row;
  align-items: center;
}

::placeholder {
  font-size: 0.9rem;
}

.survey-email {
  display: flex;
  justify-content: row;
  align-items: center;
}

.survey-age {
  display: flex;
  justify-content: row;
  align-items: center;
}

input[type="survey-text"] {
  margin-top: 0rem;
  padding: 0 0 0 0;
  color: #e57a9b;
  font-size: 1.2rem;
}

input[type="survey-number"] {
  margin-top: 0rem;
  padding: 0 0;
  color: #e57a9b;
  font-size: 1.2rem;
}

input[type="survey-email"] {
  margin-top: 0.5rem;
  padding: 0 0;
  color: #e57a9b;
  font-size: 1.2rem;
}

.surveyContact-input {
  width: 70%;
}

#name-label {
  width: 50%;
  margin-right: 1rem;
}

#email-label {
  width: 50%;
  margin-right: 1rem;
}

#number-label {
  width: 50%;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .surveyContact-input {
    width: 50%;
  }

  #name-label {
    width: 50%;
    margin-right: 0;
  }

  #email-label {
    width: 50%;
    margin-right: 0;
  }

  #number-label {
    width: 50%;
    margin-right: 0;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .survey-contact {
    font-size: 1.1rem;
  }

  ::placeholder {
    font-size: 0.8rem;
  }

  input[type="survey-text"] {
    font-size: 1rem;
  }

  input[type="survey-number"] {
    font-size: 1rem;
  }

  input[type="survey-email"] {
    font-size: 1rem;
  }

  .surveyContact-input {
    width: 50%;
  }

  #name-label {
    width: 50%;
    margin-right: 0;
  }

  #email-label {
    width: 50%;
    margin-right: 0;
  }

  #number-label {
    width: 50%;
    margin-right: 0;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .survey-contact {
    font-size: 1rem;
  }

  ::placeholder {
    font-size: 0.8rem;
  }

  input[type="survey-text"] {
    font-size: 1rem;
  }

  input[type="survey-number"] {
    font-size: 1rem;
  }

  input[type="survey-email"] {
    font-size: 1rem;
  }

  .surveyContact-input {
    width: 50%;
  }

  #name-label {
    width: 50%;
    margin-right: 0;
  }

  #email-label {
    width: 50%;
    margin-right: 0;
  }

  #number-label {
    width: 50%;
    margin-right: 0;
  }
}

.dropdown-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dropdown-title {
  margin: 2rem 0 1rem 0;
  font-size: 1.2rem;
  color: $light-orange;
}

.dropdown {
  width: 45%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .dropdown {
    width: 45%;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .dropdown {
    width: 45%;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .dropdown {
    width: 65%;
  }
}

.radio-title {
  margin: 2rem 1rem 1rem 0;
  font-size: 1.2rem;
  color: $light-orange;
}

.choices {
  color: $light-green;
}

input {
  width: 10%;
}

.checkbox-title {
  margin: 2rem 3rem 1rem 0;
  font-size: 1.2rem;
  color: $light-orange;
}

.choices-checkbox {
  display: flex;
  flex-direction: column;
  color: $light-green;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment-title {
  color: $light-orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .comment-title {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
}

.comment-text {
  width: 80%;
  margin: 0 0 2rem 0;
  color: $pink;
  font-size: 1.2rem;
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .comment-text {
    margin-bottom: 1rem;
  }
}
.survey-button {
  color: $dark-blue;
  background-color: $light-green;
}

.survey-button:hover {
  color: $dark-blue;
  background-color: $light-orange;
}

.active-article__button {
  border-radius: 30px;
  width: 15%;
  margin: 0 0 2rem 0;
  color: $white;
  background-color: $light-orange;
  max-height: 70px;
  display: flex;
  align-items: center;
  max-width: 22em;
  position: relative;
  box-sizing: border-box;
  background-color: $pink;
  border-width: 0.7vw;
  border-style: solid;
  border-color: initial;
  transition: opacity 0.6s ease-out 0.6s;

  text-align: center;
  display: flex;
  justify-content: center;

  &:hover {
    color: $white;
    transition: 0.5s;
    background: linear-gradient(
      40deg,
      rgb(229, 122, 155) 0%,
      rgb(240, 165, 107) 40%,
      rgb(240, 165, 107) 60%,
      rgb(30, 128, 89) 100%
    );
  }
}

.active-article__button a {
  color: $dark-blue;
  &:hover {
    text-decoration: none;
    color: $dark-blue;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .active-article__button {
    width: 20%;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .active-article__button {
    width: 25%;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .active-article__button {
    width: 35%;
    margin: 2rem 0;
  }
}

.survey-footer {
  background-color: $pink;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.survey-footer p {
  color: $light-green;
  font-size: 1.3rem;
  padding-left: 10%;
  line-height: 1.4rem;
  width: 50%;
  font-weight: $medium;
}

.survey-footer span {
  font-size: 0.9rem;
  padding-left: 10%;
  color: $dark-blue;
  width: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .survey-footer {
    height: 20vh;
  }
}

@media screen and (min-width: 415px) and (max-width: 767px) {
  .survey-footer {
    height: 35vh;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .survey-footer {
    height: 20vh;
  }
}
